@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model TodoTask

<div class="container mt-5" style="max-width: 50rem;">
    <h1 class="display-4">Create a Task</h1>
    <form asp-action="Create" method="post">
        <fieldset>
            <div>
                <label asp-for="Title" class="form-label mt-4">Title</label>
                <input asp-for="Title" type="text" class="form-control" placeholder="Enter the Title" autocomplete="off">
            </div>
            <div>
                <label asp-for="Description" class="form-label mt-4">Description</label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
            </div>

            <fieldset>
                <div class="form-check mt-3">
                    <input asp-for="Bookmarked" class="form-check-input" type="checkbox">
                    <label class="form-check-label" asp-for="Bookmarked">
                        Add to Favorites
                    </label>
                </div>
            </fieldset>
            <div class="text-end w-100 mt-4">
                <a asp-controller="Tasks" asp-action="Index" class="btn btn-danger">Cancel</a>
                <button type="submit" class="btn btn-dark">Submit</button>
            </div>

        </fieldset>
    </form>

</div>
