@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model TodoTask

<div class="container mt-5" style="max-width: 50rem;">
    <h1 class="display-4">Create a Task</h1>
    <form asp-action="Create" method="post">
        @* <div asp-validation-summary="All" class="text-danger"></div> *@
        <fieldset>
            <div>
                <label asp-for="Title" class="form-label mt-4">Title</label>
                <input asp-for="Title" type="text" class="form-control mb-2" placeholder="Enter a title" autocomplete="off">
                <span asp-validation-for="Title" class="text-danger" style="font-size: 11pt;"></span>
            </div>
            <div>
                <label asp-for="Description" class="form-label mt-4">Description</label>
                <textarea asp-for="Description" class="form-control" rows="3" id="description" placeholder="Enter a description"></textarea>
                <small id="desc-counter" class="form-text text-muted">500/500 characters</small>
                <span asp-validation-for="Description" class="text-danger" style="font-size: 11pt;"></span>
            </div>

            <fieldset>
                <div class="form-check mt-3">
                    <input asp-for="Bookmarked" class="form-check-input" type="checkbox">
                    <label class="form-check-label" asp-for="Bookmarked">
                        Add to Favorites
                    </label>
                    <span asp-validation-for="Bookmarked" class="text-danger" style="font-size: 11pt;"></span>
                </div>
            </fieldset>
            <div class="text-end w-100 mt-4">
                <a asp-controller="Tasks" asp-action="Index" class="btn btn-danger">Cancel</a>
                <button type="submit" class="btn btn-dark">Submit</button>
            </div>

        </fieldset>
    </form>

</div>

@* Client Side validations *@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            const description = document.getElementById("description");
            const counter = document.getElementById("desc-counter");
            const maxlength = 500;
            function updateCounter(){
                const remaining = maxlength - description.value.length;
                counter.textContent = `${remaining}/500 characters`;
        }

        description.addEventListener("input", updateCounter);

        updateCounter();
        });
    </script>
}

