@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<TodoTask> //using the TodoTask model
@{
    ViewData["Title"] = "Tasks List";
}
<div class="container">
    <div class="row pt-5">
        <div class="col-9">
            <h1 class="display-4 ">Tasks List</h1>
        </div>
        <div class="col-3 text-end">
            <a asp-controller="Tasks" asp-action="Create" class="btn btn-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-plus-circle" viewBox="0 2 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                </svg>
                Create a Task
            </a>
        </div>
    </div>
</div>

<div class="table-responsive mt-5">
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Bookmarked</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>@item.Bookmarked</td>
                    <td>@item.CreatedAt</td>
                    <td>Edit and Delete</td>
                </tr>

            }
        </tbody>
    </table>
</div>